<main class="page__main">
    <h1 class="main__title">Pon a prueba tu memoria</h1>

    <div class="main__form">
        <label for="easy">
            <input id="easy" type="radio" value="easy" name="difficult">Fácil
        </label>
        <label for="medium">
            <input id="medium" type="radio" value="medium" name="difficult">Media
        </label>
        <label for="hard">
            <input id="hard" type="radio" value="hard" name="difficult">Difícil
        </label>
    </div>

    <div class="main__game">
        
    </div>
</main>